img {
    width: 100%;
}

div {
    padding: 5px;
}

body {
    font-family: 'Fondamento', cursive;
    color: #1096cc;
}

.spanish {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.french {
    background-color: #fc2003;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.chinese {
    background-color: #03f4fc;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.english {
    background-color: #fcd703;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.japanese {
    background-color: #6703fc;
    /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}